<div class="sticky-top z-depth-1-half">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <span class="navbar-brand">
      <img
        src={{ config.logo }}
        class="navbar-brand__logo"
        alt="Publisher Logo"
      >
    </span>
    <div class="navbar-nav mr-auto">
      {{outlet "nav"}}
    </div>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="{{ config.domain }}/contact-us" target="_blank" rel="noopener" class="nav-link">Contact Us</a>
      </li>
      {{#if session.isAuthenticated}}
        {{#link-to "list" class="nav-item nav-link"}}List{{/link-to}}
        {{#link-to "portal.company" "cd4c269664610cf744acfb87203117f5" class="nav-item nav-link"}}TEST: Submit{{/link-to}}
        {{#link-to "review" "5de5621737b72e001931a978" class="nav-item nav-link"}}TEST: Review{{/link-to}}
        {{#link-to "logout" class="nav-item nav-link"}}Log out{{/link-to}}
      {{/if}}
    </ul>
  </nav>
  {{loading-progress class="bg-dark" progressBackground="bg-success"}}
</div>

{{ember-notify}}

<div class="container my-3">
  <div class="row">
    <div class="col">
      {{outlet}}
    </div>
  </div>
</div>
