{{#each diffs as |diff|}}
  {{#if diff.added}}
    <ins class="text-success">{{{ diff.value }}}</ins>
  {{else if diff.removed}}
    <del class="text-danger">{{{ diff.value }}}</del>
  {{else}}
    <span class="text-muted">{{{ diff.value }}}</span>
  {{/if}}
{{/each}}
