<h3 class="display-4">{{ model.company.name }}</h3>
<hr>
<div class="row">
  <div class="col-12 col-md-8 col-lg-9 col-xl-10">
    <p class="lead">Review the requested changes below.</p>
    <p>When you are finished making changes, click the "Done" button.</p>
  </div>
  <div class="col-12 col-md-4 col-lg-3 col-xl-2">
    <button class="btn btn-block btn-success">{{entypo-icon "save"}} Done</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12 col-lg-8 col-xl-9 my-3">
    <div class="card">
      <h4 class="h6 card-header">Company Details</h4>
      <div class="card-body">
        {{ partial "display/company/review/fields" }}
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 col-xl-3 my-3">
    <div class="card mb-3">
      <h4 class="h6 card-header">Categories</h4>
      {{ review-section-diff current=model.submission.payload.sectionIds old=model.company.sectionIds }}
      <div class="card-body"></div>
    </div>
    <div class="card mb-3">
      <h4 class="h6 card-header">Logo</h4>
      <div class="card-body">
        {{#if model.submission.payload.logo}}
          <img src={{ model.submission.payload.logo }} class="img-fluid mb-3 p-1 border-success border bg-light" alt="New Company Logo">
          <a href="{{ model.submission.payload.logo }}" target="_blank" rel="download" class="btn btn-block btn-primary">
            {{entypo-icon "download"}} Download new logo
          </a>
        {{else}}
          <span class="text-muted">Image was not modified.</span>
        {{/if}}
      </div>
    </div>
  </div>
</div>

