<h6 class="card-header">{{ i18n "addressInfoLabel"}}</h6>
<form class="card-body">
  <div class="row">
    <div class="form-group col-md-4">
      <label for="address1-input">{{ i18n "address1Label"}}</label>
      {{review-field
        original=company.address1
        updated=submission.payload.address1
        toggleField=toggleField
        fieldKey="address1"
        enabled=payload.address1
      }}
    </div>
    <div class="form-group col-md-4">
      <label for="address2-input">{{ i18n "address2Label"}}</label>
      {{review-field
        original=company.address2
        updated=submission.payload.address2
        toggleField=toggleField
        fieldKey="address2"
        enabled=payload.address2
      }}
    </div>
    <div class="form-group col-md-4">
      <label for="city-input">{{ i18n "cityLabel"}}</label>
      {{review-field
        original=company.city
        updated=submission.payload.city
        toggleField=toggleField
        fieldKey="city"
        enabled=payload.city
      }}
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <label for="state-input">{{ i18n "stateLabel"}}</label>
      {{review-field
        original=company.state
        updated=submission.payload.state
        toggleField=toggleField
        fieldKey="state"
        enabled=payload.state
      }}
    </div>
    <div class="form-group col-md-4">
      <label for="zip-input">{{ i18n "zipLabel"}}</label>
      {{review-field
        original=company.zip
        updated=submission.payload.zip
        toggleField=toggleField
        fieldKey="zip"
        enabled=payload.zip
      }}
    </div>
    <div class="form-group col-md-4">
      <label for="country-input">{{ i18n "countryLabel"}}</label>
      {{review-field
        original=company.country
        updated=submission.payload.country
        toggleField=toggleField
        fieldKey="country"
        enabled=payload.country
      }}
    </div>
  </div>
</form>
<div class="card-footer"></div>
