<h6 class="card-header">{{ i18n lang "contactInfoLabel"}}</h6>
<form class="card-body">
  <div class="row">
    <div class="form-group col-md-4">
      <label for="phone-input">{{ i18n lang "phoneLabel"}}</label>
      {{review-field
        original=company.phone
        updated=submission.payload.phone
        toggleField=toggleField
        fieldKey="phone"
        enabled=payload.phone
      }}
    </div>
    <div class="form-group col-md-4">
      <label for="tollfree-input">{{ i18n lang "tollFreeLabel"}}</label>
      {{review-field
        original=company.tollfree
        updated=submission.payload.tollfree
        toggleField=toggleField
        fieldKey="tollfree"
        enabled=payload.tollfree
      }}
    </div>
    <div class="form-group col-md-4">
      <label for="fax-input">{{ i18n lang "faxLabel"}}</label>
      {{review-field
        original=company.fax
        updated=submission.payload.fax
        toggleField=toggleField
        fieldKey="fax"
        enabled=payload.fax
      }}
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <label for="mobile-input">{{ i18n lang "mobileLabel"}}</label>
      {{review-field
        original=company.mobile
        updated=submission.payload.mobile
        toggleField=toggleField
        fieldKey="mobile"
        enabled=payload.mobile
      }}
    </div>
    <div class="form-group col-md-4">
      <label for="website-input">{{ i18n lang "websiteLabel"}}</label>
      {{review-field
        original=company.website
        updated=submission.payload.website
        toggleField=toggleField
        fieldKey="website"
        enabled=payload.website
      }}
    </div>
    <div class="form-group col-md-4">
      <label for="email-input">{{ i18n lang "emailLabel"}}</label>
      {{review-field
        original=company.email
        updated=submission.payload.email
        toggleField=toggleField
        fieldKey="email"
        enabled=payload.email
      }}
    </div>
  </div>
</form>
<div class="card-footer"></div>
