<h6 class="card-header">{{ title }}</h6>
<form class="card-body">
  <div class="row">
    <div class="form-group col">
      {{review-field
        original=company.logo
        updated=submission.payload.logo
        toggleField=toggleField
        fieldKey="logo"
        enabled=payload.logo
      }}
    </div>
  </div>
</form>
<div class="card-footer"></div>
{{!--
    <div class="card mb-3">
      <h4 class="h6 card-header">Logo</h4>
      <div class="card-body">
        {{#if model.submission.payload.logo}}
          <img src={{ model.submission.payload.logo }} class="img-fluid mb-3 p-1 border-success border bg-light" alt="New Company Logo">
          <a href={{ model.submission.payload.logo }} target="_blank" rel="download noopener" class="btn btn-block btn-primary">
            {{entypo-icon "download"}} Download new logo
          </a>
        {{else}}
          <span class="text-muted">Image was not modified.</span>
        {{/if}}
      </div>
    </div>
  </div> --}}
