<h6 class="card-header">{{ i18n lang "youtubeLabel"}}</h6>
<form class="card-body">
  <div class="row">
    <div class="form-group col">
      <label for="youtube-playlist-id-input">{{ i18n lang "playListIdLabel"}}</label>
      {{review-field
        original=company.youtube.playlistId
        updated=submission.payload.youtube.playlistId
        toggleField=toggleField
        fieldKey="youtube"
        subField="playlistId"
        enabled=payload.youtube
      }}
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="youtube-channel-id-input">{{ i18n lang "channelIdLabel"}}</label>
      {{review-field
        original=company.youtube.channelId
        updated=submission.payload.youtube.channelId
        toggleField=toggleField
        fieldKey="youtube"
        subField="channelId"
        enabled=payload.youtube
      }}
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="youtube-username-input">{{ i18n lang "userNameLabel"}}</label>
      {{review-field
        original=company.youtube.username
        updated=submission.payload.youtube.username
        toggleField=toggleField
        fieldKey="youtube"
        subField="username"
        enabled=payload.youtube
      }}
    </div>
  </div>
</form>
<div class="card-footer"></div>
