<div class="card mb-4">
  <div class="card-body">
    <p class="lead">Review your company details.</p>
    <p>Make any needed changes on the fields below.</p>
    <p>When you are finished making changes, click the "Save Changes" button.</p>
    {{ submit-modal isOpen=isModalOpen model=model fields=fields onComplete=(action "transitionToPortal")}}
  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-8 col-xl-9 my-3">
    {{ company-card/details model=model }}
    {{ company-card/address model=model }}
    {{ company-card/contact model=model }}
    {{ company-card/social links=model.socialLinks }}
    {{ company-card/services model=model }}
  </div>
  <div class="col-12 col-lg-4 col-xl-3 my-3">
    <div class="card mb-3">
      <h4 class="h6 card-header">Logo</h4>
      <div class="card-body">
        {{ company-logo logo=model.primaryImage.src }}
      </div>
    </div>
  </div>
</div>

<div class="fixed-bottom fixed-right card">
  <div class="card-body">
    <button class="btn btn-success pull-right" {{ action "showModal" }}>
      {{entypo-icon "save"}} Save Changes
    </button>
  </div>
</div>
