<div class="card mb-4">
  <div class="card-body">
    <button class="btn btn-success pull-right" {{ action "showModal" }}>
      {{entypo-icon "save"}} Save Changes
    </button>
    <p class="lead">Review your company details.</p>
    <p>Make any needed changes on the fields below.</p>
    <p>When you are finished making changes, click the "Save Changes" button.</p>
    {{ submit-modal isOpen=isModalOpen model=model fields=fields onComplete=(action "transitionToThankYou")}}
  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-8 col-xl-9 my-3">
    {{ company-card/details model=model }}
    {{ company-card/address model=model }}
    {{ company-card/contact model=model }}
    {{ company-card/social links=model.socialLinks }}
    {{ company-card/services model=model }}
  </div>
  <div class="col-12 col-lg-4 col-xl-3 my-3">
    {{!-- {{partial "edit/contacts"}} --}}

    <div class="card mb-3">
      <h4 class="h6 card-header">Categories</h4>
      <div class="card-body">
        {{#link-to "portal.company.categories" class="btn btn-block btn-sm btn-primary"}}
          {{entypo-icon "pencil"}} <span class="d-none d-md-inline">Edit categories</span>
        {{/link-to}}
      </div>
    </div>

    <div class="card mb-3">
      <h4 class="h6 card-header">Logo</h4>
      <div class="card-body">
        {{ company-logo logo=logo }}
      </div>
    </div>
  </div>
</div>

{{ outlet }}
