<div class="card mb-4">
  <div class="card-body">
    <p class="lead">Review your company contacts.</p>
    <p>Make any needed changes on the fields below.</p>
    <p>When you are finished making changes, click the "Save Changes" button.</p>
  </div>
</div>

<div class="row">
  {{#each contacts as |contact|}}
    {{contact-card type="public" contact=contact onRemove=(action "remove" contact)}}
  {{/each}}
</div>

<button type="button" class="btn btn-primary" {{action "add" }}>
  {{entypo-icon "circle-with-plus"}} Add a contact
</button>

<div class="fixed-bottom fixed-right card">
  <div class="card-body">
    <button disabled={{submitDisabled}} class="btn btn-success pull-right" {{ action "showModal" }}>
      {{entypo-icon "save"}} Save Changes
    </button>
  </div>
</div>
{{submit-modal/contacts
  isOpen=isModalOpen
  hash=hash
  contacts=contacts
  onComplete=(action "transitionToPortal")
}}
