<div class="card mb-4">
  <div class="card-body">
    <p class="lead">Select your directory categories.</p>
    <p>
      <a href="https://cdn.jwplayer.com/videos/dxTlY4YA-9vd8SLUf.mp4" target="_blank" rel="noopener">
        {{ entypo-icon "video-camera" class="mr-2" }}
        View video for detailed instructions
      </a>
    </p>
    <p>
      For each section below, select the directory categories that describe your company.
      {{#if directorySelectionMax}}You may select up to <code>{{ config.directorySelectionMax }}</code> categories per section.{{/if}}
    </p>
    <p>{{ i18n "companyDetailsP3Label"}}</p>
  </div>
</div>

<div class="row">
  {{#each (get-edge-nodes this "model.categories") as |category|}}
    {{directory/category
      category=category
      selectedIds=selected
      canSelect=canSelect
      onUpdate=(action "update")
    }}
  {{else}}
    <p class="muted">No directory categories are available!</p>
  {{/each}}
</div>

<div class="fixed-bottom fixed-right card">
  <div class="card-body">
    <button disabled={{submitDisabled}} class="btn btn-success pull-right" {{ action "showModal" }}>
      {{entypo-icon "save"}} {{ i18n "saveChangesLabel"}}
    </button>
  </div>
</div>
{{submit-modal/directory-categories
  hash=hash
  isOpen=isModalOpen
  payload=payload
  onComplete=(action "transitionToPortal")
}}
