<div class="card mb-4">
  <div class="card-body">
    <p class="lead">{{ model.name }} {{ i18n config.lang "contentPortalLabel" }}</p>
    <p>{{ i18n config.lang "welcomePortalLabel" }} {{ model.name }}.</p>
    <p>{{ i18n config.lang "modificationsLabel" }}</p>
  </div>
</div>

<div class="card">
  <ul class="list-group list-group-flush">
    {{#link-to "portal.company" class="list-group-item list-group-item-action"}}
      {{submission-icon type="company" class="mr-2"}}
      {{ i18n config.lang "modifyCompanyLabel" }}
    {{/link-to}}
    {{#if leadershipEnabled}}
      {{#link-to "portal.leadership" class="list-group-item list-group-item-action"}}
        {{submission-icon type="leadership" class="mr-2"}}
        Modify leadership categories
      {{/link-to}}
    {{/if}}
    {{#if promotionsEnabled}}
      {{#link-to "portal.promotions" class="list-group-item list-group-item-action"}}
        {{submission-icon type="promotion" class="mr-2"}}
        {{ i18n config.lang "modifyProductLabel" }}
      {{/link-to}}
    {{/if}}
    {{#link-to "portal.contacts" class="list-group-item list-group-item-action"}}
      {{submission-icon type="contact" class="mr-2"}}
      {{ i18n config.lang "modifyContactsLabel" }}
    {{/link-to}}
  </ul>
</div>
