<div class="card mb-4">
  <div class="card-body">
    <p class="lead">{{ model.name }} {{ i18n "contentPortalLabel" }}</p>
    <p>{{ i18n "welcomePortalLabel" }} {{ model.name }}.</p>
    {{#if portalPageVerbiage}}
      {{ portalPageVerbiage }}
    {{/if}}
    <p>{{ i18n "modificationsLabel" }}</p>
  </div>
</div>

<div class="card">
  <ul class="list-group list-group-flush">
    {{#link-to "portal.company" class="list-group-item list-group-item-action"}}
      {{submission-icon type="company" class="mr-2"}}
      {{ i18n "modifyCompanyLabel" }}
    {{/link-to}}
    {{#if leadershipEnabled}}
      {{#link-to "portal.leadership" class="list-group-item list-group-item-action"}}
        {{submission-icon type="leadership" class="mr-2"}}
        Modify {{categoryPrefix}} categories
      {{/link-to}}
    {{/if}}
    {{#if directoryEnabled}}
      {{#link-to "portal.directory" class="list-group-item list-group-item-action"}}
        {{submission-icon type="directory" class="mr-2"}}
        Modify directory categories
      {{/link-to}}
    {{/if}}
    {{#if promotionsEnabled}}
      {{#link-to "portal.promotions" class="list-group-item list-group-item-action"}}
        {{submission-icon type="promotion" class="mr-2"}}
        {{ i18n "modifyProductLabel" }}
      {{/link-to}}
    {{/if}}
    {{#if contactsEnabled}}
      {{#link-to "portal.contacts" class="list-group-item list-group-item-action"}}
        {{submission-icon type="contact" class="mr-2"}}
        {{ i18n "modifyContactsLabel" }}
      {{/link-to}}
    {{/if}}
  </ul>
</div>
