<div class="card mb-4">
  <div class="card-body">
    {{#if promotionsVerbiage}}
      {{{ promotionsVerbiage }}}
    {{else}}
      <p class="lead">{{ i18n "promotionsP1Label" }}</p>
      <p>{{ i18n "promotionsP2Label" }}</p>
      <p>{{ i18n "companyDetailsP3Label"}}</p>
    {{/if}}
  </div>
</div>

<form {{action "showModal" on="submit"}}>

  <div class="row">
    {{#each promotions as |promotion|}}
      {{promotion-card
        promotion=promotion
        onRemove=(action "remove" promotion)
        onUpdate=(action "update" promotion)
        onReset=(action "reset" promotion)
      }}
    {{/each}}
  </div>

  <div class="fixed-bottom fixed-left card">
    <div class="card-body">
      <button disabled={{isAddDisabled}} class="btn btn-primary pull-left" {{ action "add" }}>
        {{entypo-icon "circle-with-plus"}} {{ i18n "addPromotionLabel"}}
      </button>
    </div>
  </div>

  <div class="fixed-bottom fixed-right card">
    <div class="card-body">
      <button disabled={{isSubmitDisabled}} class="btn btn-success pull-right" type="submit">
        {{entypo-icon "save"}} {{ i18n "saveChangesLabel"}}
      </button>
    </div>
  </div>
</form>

{{submit-modal/promotions
  isOpen=isModalOpen
  hash=hash
  payload=payload
  onComplete=(action "transitionToPortal")
}}
