{{#if checked}}
  <button class="btn btn-secondary text-left mb-2 btn-block active" {{action "toggle" section.id}}>
    {{entypo-icon "check" class="mr-2 text-primary"}} {{ section.name }}
  </button>
{{else}}
  <button disabled={{disabled}} class="btn btn-secondary {{if disabled "disabled" ""}} text-left mb-2 btn-block" {{action "toggle" section.id}}>
    {{entypo-icon "circle" class="mr-2"}} {{ section.name }}
  </button>
{{/if}}
