<div class="card">
  <h6 class="card-header">
    {{ site.name }}
    <small class="pull-right text-primary">
      Selected: <span class="badge">{{ selected }} / {{ maximum }}</span>
    </small>
  </h6>
  <div class="card-body">
    {{#if hasChildren}}
      {{#each sections as |section|}}
        <div class="leadership-row row mt-3">
          {{leadership/category
            category=section
            selected=_selected
            canSelect=canSelect
            onToggle=(action "toggle")
          }}
        </div>
      {{/each}}
    {{else}}
      <div class="row">
        {{#each sections as |section|}}
          {{leadership/section
            section=section
            selected=_selected
            canSelect=canSelect
            onToggle=(action "toggle")
          }}
        {{/each}}
      </div>
    {{/if}}
  </div>
</div>
