<h3 class="display-3">{{ model.name }}</h3>
<hr>
<div class="row">
  <div class="col-12 col-md-8 col-lg-9 col-xl-10">
    <p class="lead">Review your company details below.</p>
    <p>To change a field, click on
      <button class="btn btn-sm btn-primary disabled btn-disabled">{{entypo-icon "pencil"}} <span class="d-none d-md-inline">Edit</span>
      </button>
    </p>
    <p>When you are finished making changes, click the "Save Changes" button.</p>
  </div>
  <div class="col-12 col-md-4 col-lg-3 col-xl-2">
    <button class="btn btn-block btn-success">{{entypo-icon "save"}} Save Changes</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12 col-lg-8 col-xl-9 my-3">
    <div class="card">
      <h4 class="h6 card-header">Company Details</h4>
      <div class="card-body">
        {{#each fields as |field|}}
        <div class="form-group">
          <label for="{{ field.key }}-input">{{ field.label }}</label>
          <div class="input-group">
            {{#if (eq field.type "long")}}
              <div readonly class="form-control form-control-plaintext body-preview">{{{ model-value model field.key }}}</div>
            {{else}}
              <input type="text" readonly class="form-control form-control-plaintext" id="{{ field.key }}-input" aria-describedby="{{ field.key }}-help" placeholder={{ field.placeholder }} value="{{{ model-value model field.key }}}">
            {{/if}}
            <div class="input-group-append">
              <button class="btn btn-primary">
                {{entypo-icon "pencil"}} <span class="d-none d-md-inline">Edit</span>
              </button>
            </div>
          </div>
          <small id="{{ field.key }}-help" class="form-text text-muted">{{ field.helpText }}</small>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 col-xl-3 my-3">
    <div class="card mb-3">
      <h4 class="h6 card-header">Contacts</h4>
      <ul class="list-group list-group-flush">
        {{#each contacts as |contact|}}
        <li class="list-group-item">
          <button class="btn btn-sm btn-primary float-right">
            {{entypo-icon "pencil"}}
            <span class="d-none d-md-inline">Edit</span>
          </button>
          {{ contact.name }}
          {{#if (eq contact.type 'publicContacts')}}
            <button class="btn btn-sm btn-disabled float-right" title="Contact information is listed publicly">{{entypo-icon "email"}}</button>
          {{/if}}
          {{#if (eq contact.type 'salesContacts')}}
            <button class="btn btn-sm btn-disabled float-right" title="Contact will receive sales lead information">{{entypo-icon "credit"}}</button>
          {{/if}}
          {{#if (eq contact.type 'listingContacts')}}
            <button class="btn btn-sm btn-disabled float-right" title="Contact will receive notifications to update listings">{{entypo-icon "pencil"}}</button>
          {{/if}}
          <span class="small d-block text-muted">
            {{ contact.title }}
          </span>
        </li>
        {{/each}}
      </ul>
      <div class="card-body">
        <button class="btn btn-block btn-sm btn-primary">
          {{entypo-icon "plus"}} <span class="d-none d-md-inline">Add a contact</span>
        </button>
      </div>
    </div>
    <div class="card mb-3">
      <h4 class="h6 card-header">Categories</h4>
        <ul class="list-group list-group-flush">
          {{#each model.sections as |section|}}
          <li class="list-group-item">
            {{ section.name }}
            <ul class="">
              {{#each section.children as |child|}}
              <li class="">{{ child.name }}</li>
              {{/each}}
            </ul>
          </li>
          {{/each}}
        </ul>
      <div class="card-body">
        <button class="btn btn-block btn-sm btn-primary">
          {{entypo-icon "pencil"}} <span class="d-none d-md-inline">Edit categories</span>
        </button>
      </div>
    </div>
    <div class="card mb-3">
      <h4 class="h6 card-header">Images</h4>
      <div class="card-body">
        {{#if model.primaryImage}}
          <img src="{{ model.primaryImage.src }}" class="img-fluid mb-3" alt="Company Logo" />
        {{/if}}

        <button class="btn btn-block btn-sm btn-primary">
          {{entypo-icon "upload"}} Upload new image
        </button>
      </div>
    </div>
  </div>
</div>

