<div class={{ rootClass }}>
  <label role="button" class="d-flex align-items-center" {{action "collapse"}}>
    {{#if node.children.length}}
      {{entypo-icon (if collapsed "chevron-right" "chevron-down") class="mr-2"}}
    {{else}}
      <Input
        @type="checkbox"
        class="mr-2"
        @checked={{this.checked}}
        @change={{action "update"}}
      />
    {{/if}}
    {{ node.name }}
  </label>
  {{#unless collapsed }}
    {{#if node.children.length}}
      <div class="ml-3">
        {{#each node.children as |child|}}
          {{directory/category-tree
            node=child
            selectedIds=selectedIds
            onUpdate=onUpdate
          }}
        {{/each}}
      </div>
    {{/if}}
  {{/unless}}
</div>
