<div class={{ rootClass }}>
  {{#if node.children.length}}
    <div role="button" class="align-items-center" {{action "collapse"}}>
      {{entypo-icon (if collapsed "chevron-right" "chevron-down") class="mr-2"}}
      {{ node.name }}
      {{#if selected}}
        <small class="pull-right text-muted">
          Selected: <strong>{{ selected }}</strong>
        </small>
      {{/if}}
    </div>
  {{else}}
    <label class="d-flex align-items-center">
      <Input
        @type="checkbox"
        class="mr-2"
        @checked={{this.checked}}
        @change={{action "update"}}
      />
      {{ node.name }}
    </label>
  {{/if}}
  {{#unless collapsed }}
    {{#if node.children.length}}
      <div class="mt-2 ml-3">
        {{#each node.children as |child|}}
          {{directory/category-tree
            node=child
            selectedIds=selectedIds
            onUpdate=onUpdate
          }}
        {{/each}}
      </div>
    {{/if}}
  {{/unless}}
</div>
