<div class={{ rootClass }}>
  <label role="button" class="d-flex align-items-center" {{action "collapse"}}>
    {{#if noChildren}}
      <Input
        @type="checkbox"
        class="mr-2"
        @checked={{this.checked}}
        @change={{action "update"}}
      />
    {{else if expandedState }}
      {{entypo-icon "chevron-down" class="mr-2"}}
    {{else if collapsedState }}
      {{entypo-icon "chevron-right" class="mr-2"}}
    {{/if}}
    {{ node.name }}
  </label>
  {{#if expandedState }}
    <div class="ml-3">
      {{#each node.children as |child|}}
        {{directory/category-tree
          node=child
          selectedIds=selectedIds
          onUpdate=onUpdate
        }}
      {{/each}}
    </div>
  {{/if}}
</div>
