<div class={{ rootClass }}>
  <label role="button" class="d-flex align-items-center" {{action "collapse"}}>
    {{#unless node.children.length}}
      <Input
        @type="checkbox"
        class="mr-2"
        @checked={{this.checked}}
        @change={{action "update"}}
      />
      {{else}}
        {{entypo-icon (if collapsed "chevron-right" "chevron-down") class="mr-2"}}
    {{/unless}}
    {{ node.name }}
  </label>
  {{#unless collapsed }}
    <div class="ml-3">
      {{#each node.children as |child|}}
        {{directory/category-tree
          node=child
          selectedIds=selectedIds
          onUpdate=onUpdate
        }}
      {{/each}}
    </div>
  {{/unless}}
</div>
