<div class="card mb-4">
  <div class="card-body">
    <p class="lead">{{ model.company.name }}</p>
    <hr>
    <p class="lead">Review the requested changes below.</p>
    <p>Fields that have been modified will display the <del class="text-danger">previous</del> and <ins class="text-success">new</ins> values, and will have a toggle icon ({{entypo-icon "check" class="border m-1 p-1 text-success"}} / {{entypo-icon "cross" class="border m-1 p-1 text-danger"}}) next to the field. For each field, verify that the submitted value is acceptable, or use the toggle to ignore the field.</p>
    <p>When all fields have been reviewed, click the "Publish" button at the bottom of the screen to publish to Base. If no fields are acceptable, click on the "Discard" button to remove this submission and return to the list.</p>
  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-8 col-xl-9 my-3">
    {{review-card/details
      company=model.company
      submission=model.submission
      toggleField=(action "toggleField")
      payload=payload
      locale=config.locale
    }}
    {{review-card/address
      company=model.company
      submission=model.submission
      toggleField=(action "toggleField")
      payload=payload
      locale=config.locale
    }}
    {{review-card/contact
      company=model.company
      submission=model.submission
      toggleField=(action "toggleField")
      payload=payload
      locale=config.locale
    }}
    {{review-card/social
      company=model.company
      submission=model.submission
      toggleField=(action "toggleField")
      payload=payload
      locale=config.locale
    }}
    {{review-card/external-links
      company=model.company
      submission=model.submission
      toggleField=(action "toggleField")
      payload=payload
      locale=config.locale
    }}
    {{review-card/services
      company=model.company
      submission=model.submission
      toggleField=(action "toggleField")
      payload=payload
      locale=config.locale
    }}
  </div>
  <div class="col-12 col-lg-4 col-xl-3 my-3">
    {{review-card/logo
      company=model.company
      submission=model.submission
      toggleField=(action "toggleField")
      payload=payload
      locale=config.locale
    }}
    {{review-card/youtube
      company=model.company
      submission=model.submission
      toggleField=(action "toggleField")
      payload=payload
      locale=config.locale
    }}
  </div>
</div>

<div class="fixed-bottom fixed-right card">
  <div class="card">
    <div class="card-body text-center">
      {{#if model.submission.reviewed}}
        <p class="mb-2 text-muted small">This submission has already been reviewed.</p>
      {{/if}}
      {{confirm-button
        icon="check"
        label="Publish"
        runningLabel="Publishing..."
        class="btn-primary mr-1"
        iconClass="mr-1"
        disabled=isDisabled
        isRunning=isPublishing
        onConfirm=(action "publish")
      }}
      {{confirm-button
        icon="cross"
        label="Discard"
        runningLabel="Discarding..."
        class="btn-danger mr-1"
        iconClass="mr-1"
        disabled=isDisabled
        isRunning=isDiscarding
        onConfirm=(action "discard")
      }}
    </div>
  </div>
</div>
