<h6 class="card-header">{{ i18n "addressInfoLabel" }}</h6>
<form class="card-body">
  <div class="row">
    <div class="form-group col-md-4">
      <label for="address1-input">{{ i18n "address1Label" }}</label>
      <div class="input-group">
        {{input
          type="text"
          class="form-control"
          id="address1-input"
          aria-describedby="address1-help"
          value=model.address1
        }}
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="address2-input">{{ i18n "address2Label" }}</label>
      <div class="input-group">
        {{input
          type="text"
          class="form-control"
          id="address2-input"
          aria-describedby="address2-help"
          value=model.address2
        }}
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="city-input">{{ i18n "cityLabel" }}</label>
      <div class="input-group">
        {{input
          type="text"
          class="form-control"
          id="city-input"
          aria-describedby="city-help"
          value=model.city
        }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <label for="state-input">{{ i18n "stateLabel" }}</label>
      <div class="input-group">
        {{input
          type="text"
          class="form-control"
          id="state-input"
          aria-describedby="state-help"
          value=model.state
        }}
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="zip-input">{{ i18n "zipLabel" }}</label>
      <div class="input-group">
        {{input
          type="text"
          class="form-control"
          id="zip-input"
          aria-describedby="zip-help"
          value=model.zip
        }}
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="country-input">{{ i18n "countryLabel" }}</label>
      <div class="input-group">
        {{input
          type="text"
          class="form-control"
          id="country-input"
          aria-describedby="country-help"
          value=model.country
        }}
      </div>
    </div>
  </div>
</form>
<div class="card-footer"></div>
