<h6 class="card-header">{{ i18n "contactInfoLabel" }}</h6>
<form class="card-body">
  <div class="row">
    <div class="form-group col-md-4">
      <label for="phone-input">{{ i18n "phoneLabel" }}</label>
      <div class="input-group">
        {{input
          type="text"
          class="form-control"
          id="phone-input"
          aria-describedby="phone-help"
          value=model.phone
        }}
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="tollfree-input">{{ i18n "tollFreeLabel" }}</label>
      <div class="input-group">
        {{input
          type="text"
          class="form-control"
          id="tollfree-input"
          aria-describedby="tollfree-help"
          value=model.tollfree
        }}
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="fax-input">{{ i18n "faxLabel" }}</label>
      <div class="input-group">
        {{input
          type="text"
          class="form-control"
          id="fax-input"
          aria-describedby="fax-help"
          value=model.fax
        }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <label for="mobile-input">{{ i18n "mobileLabel" }}</label>
      <div class="input-group">
        {{input
          type="text"
          class="form-control"
          id="mobile-input"
          aria-describedby="mobile-help"
          value=model.mobile
        }}
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="website-input">{{ i18n "websiteLabel" }}</label>
      <div class="input-group">
        {{input
          type="url"
          class="form-control"
          id="website-input"
          aria-describedby="website-help"
          value=model.website
        }}
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="email-input">{{ i18n "publicEmailLabel" }}</label>
      <div class="input-group">
        {{input
          type="email"
          class="form-control"
          id="publicEmail-input"
          aria-describedby="publicEmail-help"
          value=model.publicEmail
        }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      {{#if (is-required "email") }}
        <label class="required-company-field" for="email-input">{{ i18n "contactEmailLabel" }}*</label>
      {{else}}
        <label for="email-input">{{ i18n "contactEmailLabel" }}</label>
      {{/if}}

      <div class="input-group">
        {{input
          type="email"
          class="form-control"
          id="email-input"
          aria-describedby="email-help"
          value=model.email
          change=(action onChange)
        }}
      </div>
  </div>
</div>
</form>
<div class="card-footer"></div>
