<h6 class="card-header">{{ i18n lang 'companyDetailsLabel' }}</h6>
<form class="card-body">
  <div class="row">
    <div class="form-group col">
      <label for="name-input">{{ i18n lang 'nameLabel' }}</label>
      <div class="input-group">
        {{input
          type="text"
          class="form-control"
          id="name-input"
          aria-describedby="name-help"
          placeholder=field.placeholder
          value=model.name
          required=true
        }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="teaser-input">{{ i18n lang 'teaserLabel' }}</label>
      <div class="input-group">
        {{froala-editor
          content=teaser
          update=(action (mut model.teaser) value="string")
          options=(hash
            attribution=false
            toolbarButtons=toolbarButtons
            multiLine=false
            htmlAllowedTags=htmlAllowedTags
            charCounterMax=255
          )
        }}
      </div>
      <small id="teaser-help" class="form-text text-muted">{{ i18n lang 'teaserHelpLabel' }}</small>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="body-input">{{ i18n lang 'descriptionLabel' }}</label>
      <div class="input-group">
        {{froala-editor
          content=body
          update=(action (mut model.body) value="string")
          options=(hash attribution=false toolbarButtons=toolbarButtons charCounterCount=false)
        }}
      </div>
      <small id="body-help" class="form-text text-muted">{{ i18n lang 'descriptionHelpLabel' }}</small>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="number-of-employees-input">{{ i18n lang 'numberOfEmployeesLabel' }}</label>
      <div class="input-group">
        {{input
          type="text"
          class="form-control"
          id="number-of-employees-input"
          aria-describedby="number-of-employees-help"
          placeholder=field.placeholder
          value=model.numberOfEmployees
          required=true
        }}
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="years-in-operation-input">{{ i18n lang 'yearsInOperationLabel' }}</label>
      <div class="input-group">
        {{input
          type="text"
          class="form-control"
          id="years-in-operation-input"
          aria-describedby="years-in-operation-help"
          placeholder=field.placeholder
          value=model.yearsInOperation
          required=true
        }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="sales-region-input">{{ i18n lang 'salesRegionLabel' }}</label>
      <div class="input-group">
        {{input
          type="text"
          class="form-control"
          id="sales-region-input"
          aria-describedby="sales-region-help"
          placeholder=field.placeholder
          value=model.salesRegion
          required=true
        }}
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="sales-channels-input">{{ i18n lang 'salesChannelsLabel' }}</label>
      <div class="input-group">
        {{input
          type="text"
          class="form-control"
          id="sales-channels-input"
          aria-describedby="sales-channels-help"
          placeholder=field.placeholder
          value=model.salesChannels
          required=true
        }}
      </div>
    </div>
  </div>
</form>
<div class="card-footer"></div>
