<h6 class="card-header">{{ i18n lang "spwLabel" }}</h6>
<form class="card-body">
  <p class="small text-muted">{{ i18n lang "spwLandingLabel" }}</p>

  <div class="row">
    <div class="form-group col">
      <label for="products-url-input">{{ i18n lang "productsURLLabel" }}</label>
      <div class="input-group">
        {{input
          type="url"
          class="form-control"
          id="products-url-input"
          aria-describedby="products-url-help"
          placeholder="https://mywebsite.com/products"
          value=model.productsUrl.url
        }}
      </div>
      <small id="products-url-help" class="form-text text-muted">{{ i18n lang "productURLHelpLabel" }}</small>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label for="product-summary-input">{{ i18n lang "productSummaryLabel" }}</label>
      <div class="input-group">
        {{froala-editor
          content=productSummary
          update=(action (mut model.productSummary) value="string")
          options=(hash attribution=false toolbarButtons=toolbarButtons charCounterCount=false)
        }}
      </div>
      <small id="product-summary-help" class="form-text text-muted">{{ i18n lang "productSummaryHelpLabel" }}</small>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="services-provided-input">{{ i18n lang "servicesLabel" }}</label>
      <div class="input-group">
        {{froala-editor
          content=servicesProvided
          update=(action (mut model.servicesProvided) value="string")
          options=(hash attribution=false toolbarButtons=toolbarButtons charCounterCount=false)
        }}
      </div>
      <small id="services-provided-help" class="form-text text-muted">{{ i18n lang "servicesHelpLabel" }}</small>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="warranty-information-input">{{ i18n lang "warrantyInfoLabel" }}</label>
      <div class="input-group">
        {{froala-editor
          content=warrantyInformation
          update=(action (mut model.warrantyInformation) value="string")
          options=(hash attribution=false toolbarButtons=toolbarButtons charCounterCount=false)
        }}
      </div>
      <small id="warranty-information-help" class="form-text text-muted">{{ i18n lang "warrantyInfoHelpLabel" }}</small>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="training-information-input">{{ i18n lang "trainingInfoLabel" }}</label>
      <div class="input-group">
        {{froala-editor
          content=trainingInformation
          update=(action (mut model.trainingInformation) value="string")
          options=(hash attribution=false toolbarButtons=toolbarButtons charCounterCount=false)
        }}
      </div>
      <small id="training-information-help" class="form-text text-muted">{{ i18n lang "trainingInfoHelpLabel" }}</small>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="service-information-input">{{ i18n lang "serviceInfoLabel" }}</label>
      <div class="input-group">
        {{froala-editor
          content=serviceInformation
          update=(action (mut model.serviceInformation) value="string")
          options=(hash attribution=false toolbarButtons=toolbarButtons charCounterCount=false)
        }}
      </div>
      <small id="service-information-help" class="form-text text-muted">{{ i18n lang "serviceInfoHelpLabel" }}</small>
    </div>
  </div>
</form>
<div class="card-footer"></div>
