<h6 class="card-header">{{ title }}</h6>
<form class="card-body">
  <p class="small text-muted">The leadership program will automatically display the latest videos from the associated Youtube playlist, channel, or user account.</p>
  <p class="small text-muted">To include videos on your profile, please fill out one of the fields below.</p>
  <div class="row">
    <div class="form-group col">
      <label for="playlist-id-input">Playlist ID</label>
      {{validated-input
        type="text"
        class="form-control"
        id="playlist-id-input"
        aria-describedby="playlist-id-help"
        value=model.youtube.playlistId
        pattern="[\w\-]{12,}"
        validText=""
        invalidText="Enter a valid playlist id"
        validateFn=(bind validatePlaylistId this)
      }}
      <small id="playlist-id-help" class="form-text text-muted">Display the latest videos from this playlist.</small>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="channel-id-input">Channel ID</label>
      {{validated-input
        type="text"
        class="form-control"
        id="channel-id-input"
        aria-describedby="channel-id-help"
        value=model.youtube.channelId
        pattern="[\w\-]{12,}"
        validText=""
        invalidText="Enter a valid channel id"
        validateFn=(bind validateChannelId this)
      }}
      <small id="channel-id-help" class="form-text text-muted">Display the latest videos from this channel.</small>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="username-input">Username</label>
      {{validated-input
        type="text"
        class="form-control"
        id="username-input"
        aria-describedby="username-help"
        value=model.youtube.username
        pattern="[\w\-]{12,}"
        validText=""
        invalidText="Enter a valid username"
        validateFn=(bind validateUsername this)
      }}
      <small id="channel-id-help" class="form-text text-muted">Display the latest videos from this user.</small>
    </div>
  </div>
  {{#if url}}
    <div class="row">
      <div class="form-group col">
        <label for="url-input">Preview URL</label>
        <a href={{ url }} target="_blank" rel="noopener" class="form-control-plaintext">
          {{ url }}
        </a>
      </div>
    </div>
  {{/if}}
</form>
<div class="card-footer"></div>
