<h6 class="card-header">{{ i18n  "youtubeLabel" }}</h6>
<form class="card-body">
  <p class="small text-muted">{{ i18n  "youtubeP1Label" }}</p>
  <p class="small text-muted">{{ i18n  "youtubeP2Label" }}</p>
  <div class="row">
    <div class="form-group col">
      <label for="playlist-id-input">{{ i18n  "listIdLabel" }}</label>
      <ValidatedInput
        @type="text"
        @class="form-control"
        @id="playlist-id-input"
        @aria-describedby="playlist-id-help"
        @value={{this.model.youtube.playlistId}}
        @pattern="[\w\-]{12,}"
        @validText=""
        @invalidText="Enter a valid playlist id"
        @validateFn={{action this.validatePlaylistId}}
      />
      <small id="playlist-id-help" class="form-text text-muted">{{ i18n  "listHelpLabel" }}</small>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="channel-id-input">{{ i18n  "channelIdLabel" }}</label>
      <ValidatedInput
        @type="text"
        @class="form-control"
        @id="channel-id-input"
        @aria-describedby="channel-id-help"
        @value={{this.model.youtube.channelId}}
        @pattern="[\w\-]{12,}"
        @validText=""
        @invalidText="Enter a valid channel id"
        @validateFn={{action this.validateChannelId}}
      />
      <small id="channel-id-help" class="form-text text-muted">{{ i18n  "channelIdHelpLabel" }}</small>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="username-input">{{ i18n  "userNameLabel" }}</label>
      <ValidatedInput
        @type="text"
        @class="form-control"
        @id="username-input"
        @aria-describedby="username-help"
        @value={{this.model.youtube.username}}
        @pattern="[\w\-]{12,}"
        @validText=""
        @invalidText="Enter a valid username"
        @validateFn={{action this.validateUsername}}
      />
      <small id="channel-id-help" class="form-text text-muted">{{ i18n  "userNameHelpLabel" }}</small>
    </div>
  </div>
  {{#if url}}
    <div class="row">
      <div class="form-group col">
        <label for="url-input">{{ i18n  "previewURLLabel" }}</label>
        <a href={{ url }} target="_blank" rel="noopener" class="form-control-plaintext">
          {{ url }}
        </a>
      </div>
    </div>
  {{/if}}
</form>
<div class="card-footer"></div>
