{{#file-upload
  class="d-block"
  name=this.elementId
  accept=".pdf"
  multiple=false
  onfileadd=(action "upload")
  as |queue|
}}
  <a class="btn btn-block btn-sm btn-primary text-white upload-button">
    {{#if queue.files.firstObject}}
      {{entypo-icon "hour-glass"}} Uploading...
    {{else}}
      {{entypo-icon "upload"}} Upload a document
    {{/if}}
  </a>
{{/file-upload}}

{{#if document}}
  <img src={{ document }} class="img-fluid mt-1 uploaded-image" alt="Image">
{{else}}
  <img class="img-fluid mt-1 uploaded-image" alt="">
{{/if}}
